<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>TestPage | {{ headTitle }}</title>        
        <link rel="shortcut icon" href="/image/icon.png" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script type="text/javascript" src="/js/script.js"></script>
    </head>
    <body>
        <h1>{{ headTitle }}</h1>
        {% block content %}{% endblock %}
    </body>
</html>