{% set headTitle = 'Session test' %}
{% block content %}
    Session var stored is {{ session }}<br>
    Cookie var stored is {{ cookie }}<br>
    <br>
    <a href="/home">Return to home</a>
{% endblock %}